<div class="option">
  <div class="favorite-btn">
    <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
    <span>お気に入り 0</span>
  </div>
  <div class="report-btn">
    <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
    <span>不適切な商品の通報</span>
  </div>
</div>